*
!*/
*target
*.idea
!*.cpp
!*.c
!*.h
!*.java
!*.jsp
!*.py
!*asm*
!*.dtsi
!*.dts

!Makefile
!makefile
!*.mk

!*.sh
!*.xml
!*conf*
!*cfg*
!*project*
!*Project*
!*.fex

!*README*
!*.txt
!*.docx
!*.doc
!*.json
!*MANIFEST*.MF
!*.zip
!*.exe
!*.jar
!*.cmd
!*.mp3
!*.wav
!*.dll
!*.ps1
!*.html
!*.gitignore
package-lock.json
node_modules
!*.js
